{% extends "base.html" %}


{% block content %}
    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
    <section>
      <img id='beard' <source src="static/tiy_wall_1.jpg" alt="jeff.jpg" class="profile-photo">
        <h3 class="about"> About</h3>
          <p>
            <li>Hi, I'm Jeff and my last name actually is Hacker.  This is fortunate as
                I recently decided to change my career path by becoming a
                Software Developer.  Along with my portfolio and Github pages, I am counting on
                this small coincidence to encourage you to interview me.
            </li></br>
            <li>I recently spent four months, 24/7 learning to code at
                <a href="http://theironyard.com" target="_blank">The Iron Yard</a> by
                completing the Python Engineering course with a focus on Django/Python and Data Science.
                If you are familiar with The Iron Yard, you know that this is no small task. </br>
                I now spend my days improving my existing code skills, learning new tools, and
                networking with like minded individuals.
                But, I need to plug in somewhere to grow and become my best.
            </li></br>
          </p>
        <h3 class="about"> What motivates </h3>
          <p>
            <li>I have a wide variety of interests, but what really drives me as a person is experience and learning.  I am
                very serious about what I do, but I also rely on a sense of humor to keep my perspective
                during a difficult task or in a stressful situation.
                I am not easily offended and I work well with those around me regardless of their personal take on life.
            </li></br>
            <li> My hope is to find interesting, quality minded
                people to work with.  I want to learn, grow, make my customer happy, and my
                employer profitable.
            </li>
            </li></br>
          </p>
        <h3 class="about"> Will I fit in with your team </h3>
          <p>
            <li>I realize that as a potential employer, you want to learn all you can about me as a person,
                how I would work on your team, and will I fit in with your company culture.</>
                With this in mind, I invite you to visit my <a href="http://github.com/JeffHacker" target="_blank">Github</a> and
                <a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" target="_blank">LinkedIn</a>
                accounts. Also, you can find me on Twitter<a href="https://twitter.com/JeffreyHacker"> @JeffreyHacker</a>.
                I read more than I Tweet, but when I do, I hope that you enjoy articles
                about business, networking, Django and software, how to improve your mind,
                a few smart comics, and random news stories that appeal to me.
            </li></br>
          </p>
        <h3 class="about"> I need you </h3>
          <p>
            <li>I currently live near Columbia, SC but I am available to work almost anywhere.
                Location is not a serious issue for me and I am open to your suggestions including
                remote work as I am self-motivated.
            </li></br>
            <li>If you represent a great company who needs a reliable individual who will do
                his best each day and will be honest with you, please contact me.  I may just be your guy.
            </li></br>
          </p>
        <h5>Personal recommendation from my previous manager available upon request</h5>
    </section>
  </div>
{% endblock %}
