{% block css %}
<head>
    {% load staticfiles %}

    <link href="{% static 'questionbox/questionapp/static/bootstrap.min.css' %}"
      rel="stylesheet" media="screen">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <title></title>
</head>
<footer>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

            <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</footer>
{% endblock %}


{% block body %}
<!DOCTYPE html>
<html lang="en">
<body>

</body>



</html>
{% endblock %}

{% block footer %}
    <footer>
        <a href="http://twitter.com/JeffreyHacker"><img source src="static/twitter.png" alt="Twitter Logo"></a>
        <a href="http://github.com/JeffHacker"><img source src="static/github.png" alt="Github Logo"></a>
        <a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile">
                <img source src="static/linkedin.png" alt="linkedin Logo"></a>

    </footer>

{% endblock %}