{% extends "base.html" %}


{% block content %}
    <div id="wrapper">
      <section>

        <div id="grad_pic"><img src="static/sweater_headshot.jpg" alt=""></div>
        <div>
          <h3 id="contacttext">Contact</h3>
            <div id="contactli">
                <ul>
                <li>
                  JeffreyKHacker@gmail.com
                </li>

                <li>
                  816-522-2557
                </li>

                <li>
                  <a href="https://github.com/JeffHacker" target="_blank">Github</a>
                </li>

                <li>
                  <a href="https://www.linkedin.com/pub/jeff-hacker/b7/3a5/85a" target="_blank">LinkedIn</a>
                </li>

                <li>
                  <a href="https://twitter.com/JeffreyHacker" target="_blank">Twitter</a>
                </li>
              </ul>
            </div>
        </div>

      </section>
    </div>
{% endblock %}
