{% extends 'base.html' %}

{% block body %}

HI.  My portfolio will soon look much better, but here it is.

    </br>
    </br>

    <a href="http://ec2-52-26-88-195.us-west-2.compute.amazonaws.com/"> Swim With the Shark - Forex trading analysis tool </a>
    </br>
    <a href="http://ec2-52-11-76-189.us-west-2.compute.amazonaws.com/"> Restaurant Application - Django week 1 group homework project </a>
    </br>
    <a href="http://ec2-52-11-84-81.us-west-2.compute.amazonaws.com/"> Question Box - A question and answer application with the ability to leave User Reputation </a>
    </br>

{% endblock %}